# Dossiers générés par Cargo contenant les fichiers compilés et executables.
*/target/
*/debug/

# Enlever si on produit un executable, le laisser si on fait une librairie.
*/Cargo.lock

# Fichiers de recouvrement
**/*.rs.bk

# Fichiers contenant des informations de déboguage
*.pdb
